.body
{
    margin-top: 50px;
    margin-left: 400px;
}

.image
{
    margin-left: 100px;
}

.button
{
    width: 400px;
    display: flex;
    justify-content: space-between;

}

.btn 
{
    height: 30px;
    width: 150px;
    border: 1px solid;
    text-align: center;
    padding-top: 10px;
}

.btn:hover
{
    transform: scale(0.9);
    cursor: pointer;
}